swagger: '2.0'
info:
    title: Price corrections
    version: 1.0.0
    description: >-
        Allows to re-price product variants or adjust their end price.
host: inviaen.iscontent.cz
basePath: /v1
schemes:
    -    https
externalDocs:
    url: 'http://magicdoc/OpenKM/'
    description: More information here.
tags:
    -    name: Price
         description: for changes of prices
         externalDocs:
             url: 'http://magicdoc/OpenKM/'
             description: Find out more about this topic
paths:
    /products/priceCorrections:
        put:
          tags:
            - Price
          summary: Update correction amount or update new price
          consumes:
            - application/json
            - application/xml
          produces:
            - application/json
          security:
            - Bearer: []
          parameters:
            - in: body
              name: Price correction model
              description: Price correction with it's type and it's variant unique key
              required: true
              schema:
                $ref: '#/definitions/priceCorrection'
          responses:
            '200':
              description: successful operation
              schema:
                $ref: '#/definitions/priceCorrection'
            '401':
              description: Authorization token is missing or invalid

definitions:
  priceCorrection:
    type: object
    required:
      - amount
      - correctionType
      - dateFrom
      - nights
      - productId
      - facilityUnitPlanId
    properties:
      amount:
        type: number
        format: double
      correctionType:
        type: string
        description: type of correction amount and how it's gonna behave with price
        enum:
          - correctionAmount
          - newPrice
      dateFrom:
        type: string
        format: date-time
      nights:
        type: integer
        format: int32
      departureTransportFacilityId:
        type: integer
        format: int32
      departureStationId:
        type: integer
        format: int32
      returnArrivalStationId:
        type: integer
        format: int32
      productId:
        type: integer
        format: int32
      priceListCategoryCbId:
        type: integer
        format: int32
      boardTypeCbId:
        type: integer
        format: int32
      saleGroupId:
        type: integer
        format: int32
      facilityUnitPlanId:
        type: integer
        format: int32
securityDefinitions:
  Bearer:
    type: apiKey
    name: Authorization
    in: header
